CUTS/etc/schemas/naomi.old/attribute_simple.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.atl.lmco.com/naomi/attributes" 
elementFormDefault="qualified">
    <xs:element name="attribute">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="owner" type="xs:string" />
                <xs:element name="value" type="xs:string"/>
                <xs:element name="units" type="xs:string" minOccurs="0"/>
                <xs:element name="documentation" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
