etc/schemas/iccm/dds.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://cuts.cs.iupui.edu/iccm"
            xmlns="http://cuts.cs.iupui.edu/iccm"
            xmlns:dds="http://cuts.cs.iupui.edu/iccm"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd"
            elementFormDefault="qualified" version="1.0">

  <!--
    BEGIN KIND (SIMPLE TYPE) DEFINITIONS
    -->
  <xsd:simpleType name="Duration_t">
    <xsd:restriction base="xsd:double" />
  </xsd:simpleType>

  <xsd:simpleType name="HistoryQosPolicyKind">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="KEEP_LAST_HISTORY_QOS" />
      <xsd:enumeration value="KEEP_ALL_HISTORY_QOS" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DurabilityQosPolicyKind">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="VOLATILE_DURABILITY_QOS" />
      <xsd:enumeration value="TRANSIENT_LOCAL_DURABILITY_QOS" />
      <xsd:enumeration value="TRANSIENT_DURABILITY_QOS" />
      <xsd:enumeration value="PERSISTENT_DURABILITY_QOS" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DestinationOrderQosPolicyKind">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BY_RECEPTION_TIMESTAMP_DESTINATIONORDER_QOS" />
      <xsd:enumeration value="BY_SOURCE_TIMESTAMP_DESTINATIONORDER_QOS" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PresentationQosPolicyAccessScopeKind">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INSTANCE_PRESENTATION_QOS" />
      <xsd:enumeration value="TOPIC_PRESENTATION_QOS" />
      <xsd:enumeration value="GROUP_PRESENTATION_QOS" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LivelinessQosPolicyKind">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AUTOMATIC_LIVELINESS_QOS" />
      <xsd:enumeration value="MANUAL_BY_PARTICIPANT_LIVELINESS_QOS" />
      <xsd:enumeration value="MANUAL_BY_TOPIC_LIVELINESS_QOS" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="OwnershipQosPolicyKind">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SHARED_OWNERSHIP_QOS" />
      <xsd:enumeration value="EXCLUSIVE_OWNERSHIP_QOS" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ReliabilityQosPolicyKind">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BEST_EFFORT_RELIABILITY_QOS" />
      <xsd:enumeration value="RELIABLE_RELIABILITY_QOS" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="SchedulingPriorityQosPolicyKind">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PRIORITY_RELATIVE" />
      <xsd:enumeration value="PRIORITY_ABSOLUTE" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="SchedulingClassQosPolicyKind">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SCHEDULING_DEFAULT" />
      <xsd:enumeration value="SCHEDULING_TIMESHARING" />
      <xsd:enumeration value="SCHEDULING_REALTIME" />
    </xsd:restriction>
  </xsd:simpleType>


  <!--
    BEGIN POLICY (COMPLEX TYPE) DEFINITIONS
    -->

  <xsd:complexType name="TopicDataQosPolicy">
    <xsd:sequence>
      <!-- xsd:element name="value" type="xsd:base64Binary" minOccurs="0" maxOccurs="1" / -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="GroupDataQosPolicy">
    <xsd:sequence>
      <!-- xsd:element name="value" type="xsd:base64Binary" minOccurs="0" maxOccurs="1" / -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UserDataQosPolicy">
    <xsd:sequence>
      <!-- xsd:element name="value" type="xsd:base64Binary" minOccurs="0" maxOccurs="1" / -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="StringSeq">
    <xsd:sequence>
      <xsd:element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TransportPriorityQosPolicy">
    <xsd:attribute name="value" type="xsd:long" />
  </xsd:complexType>

  <xsd:complexType name="PartitionQosPolicy">
    <xsd:sequence>
      <xsd:element name="name" type="StringSeq" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LifespanQosPolicy">
    <xsd:attribute name="duration" type="Duration_t" />
  </xsd:complexType>

  <xsd:complexType name="DurabilityServiceQosPolicy">
    <xsd:attribute name="history_depth" type="xsd:long" />
    <xsd:attribute name="max_samples" type="xsd:long" />
    <xsd:attribute name="max_instances" type="xsd:long" />
    <xsd:attribute name="max_samples_per_instance" type="xsd:long" />
    <xsd:attribute name="history_kind" type="HistoryQosPolicyKind" />
    <xsd:attribute name="service_cleanup_delay" type="Duration_t" />
  </xsd:complexType>

  <xsd:complexType name="DurabilityQosPolicy">
    <xsd:attribute name="kind" type="DurabilityQosPolicyKind" />
  </xsd:complexType>

  <xsd:complexType name="PresentationQosPolicy">
    <xsd:attribute name="access_scope" type="PresentationQosPolicyAccessScopeKind" />
    <xsd:attribute name="coherent_access" type="xsd:boolean" />
    <xsd:attribute name="ordered_access" type="xsd:boolean" />
  </xsd:complexType>

  <xsd:complexType name="DeadlineQosPolicy">
    <xsd:attribute name="period" type="Duration_t" />
  </xsd:complexType>

  <xsd:complexType name="LatencyBudgetQosPolicy">
    <xsd:attribute name="duration" type="Duration_t" />
  </xsd:complexType>

  <xsd:complexType name="OwnershipQosPolicy">
    <xsd:attribute name="kind" type="OwnershipQosPolicyKind" />
  </xsd:complexType>

  <xsd:complexType name="OwnershipStrengthQosPolicy">
    <xsd:attribute name="value" type="xsd:long" />
  </xsd:complexType>

  <xsd:complexType name="LivelinessQosPolicy">
    <xsd:attribute name="lease_duration" type="Duration_t" />
    <xsd:attribute name="kind" type="LivelinessQosPolicyKind" />
  </xsd:complexType>

  <xsd:complexType name="TimeBasedFilterQosPolicy">
    <xsd:attribute name="minimum_separation" type="Duration_t" />
  </xsd:complexType>

  <xsd:complexType name="ReliabilityQosPolicy">
    <xsd:attribute name="kind" type="ReliabilityQosPolicyKind" />
    <xsd:attribute name="synchronous" type="xsd:boolean" />
    <xsd:attribute name="max_blocking_time" type="Duration_t" />
  </xsd:complexType>

  <xsd:complexType name="DestinationOrderQosPolicy">
    <xsd:attribute name="kind" type="DestinationOrderQosPolicyKind" />
  </xsd:complexType>

  <xsd:complexType name="HistoryQosPolicy">
    <xsd:attribute name="kind" type="HistoryQosPolicyKind" />
    <xsd:attribute name="depth" type="xsd:long"  />
  </xsd:complexType>

  <xsd:complexType name="ResourceLimitsQosPolicy">
    <xsd:attribute name="max_samples" type="xsd:long" />
    <xsd:attribute name="max_instances" type="xsd:long" />
    <xsd:attribute name="max_samples_per_instance" type="xsd:long" />
  </xsd:complexType>

  <xsd:complexType name="EntityFactoryQosPolicy">
    <xsd:attribute name="autoenable_created_entities" type="xsd:boolean" />
  </xsd:complexType>

  <xsd:complexType name="WriterDataLifecycleQosPolicy">
    <xsd:attribute name="autopurge_suspended_samples_delay" type="Duration_t" />
    <xsd:attribute name="autounregister_instance_delay" type="Duration_t" />
    <xsd:attribute name="autodispose_unregistered_instances" type="xsd:boolean" />
  </xsd:complexType>

  <xsd:complexType name="ReaderDataLifecycleQosPolicy">
    <xsd:attribute name="autopurge_nowriter_samples_delay" type="Duration_t" />
    <xsd:attribute name="autopurge_disposed_samples_delay" type="Duration_t" />
    <xsd:attribute name="enable_invalid_samples" type="xsd:boolean" />
  </xsd:complexType>

  <xsd:complexType name="SchedulingClassQosPolicy">
    <xsd:attribute name="kind" type="SchedulingClassQosPolicyKind" />
  </xsd:complexType>

  <xsd:complexType name="SchedulingPriorityQosPolicy">
    <xsd:attribute name="kind" type="SchedulingPriorityQosPolicyKind" />
  </xsd:complexType>

  <xsd:complexType name="SchedulingQosPolicy">
    <xsd:sequence>
      <xsd:element name="scheduling_class" type="SchedulingClassQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="scheduling_priority_kind" type="SchedulingPriorityQosPolicy" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    
    <xsd:attribute name="scheduling_priority" type="xsd:long" />
  </xsd:complexType>

  <xsd:complexType name="SubscriptionKeyQosPolicy">
    <xsd:sequence>
      <xsd:element name="key_list" type="StringSeq" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>

    <xsd:attribute name="use_key_list" type="xsd:boolean" />
  </xsd:complexType>

  <xsd:complexType name="ShareQosPolicy">
    <xsd:attribute name="name" type="xsd:string" />
    <xsd:attribute name="enable" type="xsd:boolean" />
  </xsd:complexType>

  <xsd:complexType name="ReaderLifespanQosPolicy">
    <xsd:attribute name="duration" type="Duration_t" />
    <xsd:attribute name="use_lifespan" type="xsd:boolean"/>
  </xsd:complexType>

  <xsd:complexType name="SystemResourceLimitsQosPolicy">
    <xsd:attribute name="max_objects_per_thread" type="xsd:long"/>
  </xsd:complexType>

  <!--
    BEGIN TOP-LEVEL QOS DEFINITIONS
    -->

  <xsd:complexType name="TopicQos">
    <xsd:sequence>
      <xsd:element name="topic_data" type="TopicDataQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="durability" type="DurabilityQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="durability_service" type="DurabilityServiceQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="deadline" type="DeadlineQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="latency_budget" type="LatencyBudgetQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="liveliness" type="LivelinessQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="reliability" type="ReliabilityQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="destination_order" type="DestinationOrderQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="history" type="HistoryQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="resource_limits" type="ResourceLimitsQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="transport_priority" type="TransportPriorityQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="lifespan" type="LifespanQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ownership" type="OwnershipQosPolicy" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>

    <xsd:attribute name="name" type="xsd:string" use="required" />
  </xsd:complexType>

  <xsd:complexType name="DomainParticipantFactoryQos">
    <xsd:sequence>
      <xsd:element name="entity_factory" type="EntityFactoryQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="resource_limits" type="SystemResourceLimitsQosPolicy" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataReaderQos">
    <xsd:sequence>
      <xsd:element name="durability" type="DurabilityQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="deadline" type="DeadlineQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="latency_budget" type="LatencyBudgetQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="liveliness" type="LivelinessQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="reliability" type="ReliabilityQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="destination_order" type="DestinationOrderQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="history" type="HistoryQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="resource_limits" type="ResourceLimitsQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="user_data" type="UserDataQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ownership" type="OwnershipQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="time_based_filter" type="TimeBasedFilterQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="reader_data_lifecycle" type="ReaderDataLifecycleQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="subscription_keys" type="SubscriptionKeyQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="reader_lifespan" type="ReaderLifespanQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="share" type="ShareQosPolicy" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>

    <!-- name of the target DataReader -->
    <xsd:attribute name="name" type="xsd:string" use="required" />
    <xsd:attribute name="subscriber" type="xsd:string" default="@default" />
    <xsd:attribute name="topic" type="xsd:string" default="@default" />
    <xsd:attribute name="isprivate" type="xsd:boolean" default="false" />
  </xsd:complexType>

  <xsd:complexType name="DataWriterQos">
    <xsd:sequence>
      <xsd:element name="durability" type="DurabilityQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="deadline" type="DeadlineQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="latency_budget" type="LatencyBudgetQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="liveliness" type="LivelinessQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="reliability" type="ReliabilityQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="destination_order" type="DestinationOrderQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="history" type="HistoryQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="resource_limits" type="ResourceLimitsQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="transport_priority" type="TransportPriorityQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="lifespan" type="LifespanQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="user_data" type="UserDataQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ownership" type="OwnershipQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ownership_strength" type="OwnershipStrengthQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="writer_data_lifecycle" type="WriterDataLifecycleQosPolicy" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>

    <!-- name of the target DataReader -->
    <xsd:attribute name="name" type="xsd:string" use="required" />
    <xsd:attribute name="publisher" type="xsd:string" default="@default" />
    <xsd:attribute name="topic" type="xsd:string" default="@default" />
    <xsd:attribute name="isinstance" type="xsd:boolean" default="false" />
    <xsd:attribute name="isprivate" type="xsd:boolean" default="false" />
  </xsd:complexType>

  <xsd:complexType name="PublisherQos">
    <xsd:sequence>
      <xsd:element name="presentation" type="PresentationQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="partition" type="PartitionQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="group_data" type="GroupDataQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="entity_factory" type="EntityFactoryQosPolicy" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>

    <xsd:attribute name="name" type="xsd:string" use="required" />
  </xsd:complexType>

  <xsd:complexType name="SubscriberQos">
    <xsd:sequence>
      <xsd:element name="presentation" type="PresentationQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="partition" type="PartitionQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="group_data" type="GroupDataQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="entity_factory" type="EntityFactoryQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="share" type="ShareQosPolicy" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>

    <xsd:attribute name="name" type="xsd:string" use="required" />
  </xsd:complexType>

  <xsd:complexType name="DomainParticipantQos">
    <xsd:sequence>
      <xsd:element name="user_data" type="UserDataQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="entity_factory" type="EntityFactoryQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="watchdog_scheduling" type="SchedulingQosPolicy" minOccurs="0" maxOccurs="1" />
      <xsd:element name="listener_scheduling" type="SchedulingQosPolicy" minOccurs="0" maxOccurs="1" />

      <xsd:element name="topic" type="TopicQos" minOccurs="0" maxOccurs="unbounded" />

      <!-- The following is for partitioning the readers and writers -->
      <xsd:element name="publisher" type="PublisherQos" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="subscriber" type="SubscriberQos" minOccurs="0" maxOccurs="unbounded" />

      <!-- Data readers and writers under the default partition -->
      <xsd:element name="datawriter" type="DataWriterQos" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="datareader" type="DataReaderQos" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <!--
    BEGIN ROOT ELEMENTS
    -->

  <xsd:element name="domain" type="DomainParticipantFactoryQos" />
  <xsd:element name="participant" type="DomainParticipantQos" />

</xsd:schema>
